extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let flowerid  = toShow._id
    - let flowerName = toShow.flowerName
    - let flowerCost = toShow.flowerCost
    - let description = toShow.Description 
    - let actionid = "/resource/flowers/" + flowerid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='flowerAttr mr-3') Flower ID :
        div #{flowerid}
      div.row
        div(class='flowerAttr mr-3') Flower Name :
        div #{flowerName}
      div.row
        div(class='flowerAttr mr-3') Description :
        div #{Description}
      div.row
        div(class='flowerAttr mr-3') Flower Cost :
        div #{flowerCost}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
    function cancel() {
      // Go back to the home page for the flower collection
      window.location.href='/flowers'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE' 
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/flowers'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
