extends layout
block content
  h1= title
  - let flowerid = toShow._id
  - let flowerName = toShow.flowerName
  - let flowerCost = toShow.flowerCost
  - let flowerDescription  = toShow.Description 
    div
      div.row
        div(class='flowerAttr mr-3') flower ID:
        div #{flowerid}
      div.row
        div(class='flowerAttr mr-3') flower Name:
        div #{flowerName}
      div.row
        div(class='flowerAttr mr-3') flower Cost:
        div #{flowerCost}
      div.row
        div(class='flowerAttr mr-3') Description:
        div #{flowerDescription}

